body {
  background: #ececec;
}

.card {
  margin: 15px;
}

.container {
  text-align: center;
}

.btn_refresh {
    opacity: 0.6;
    background: url(../images/ic_refresh_white_24px.svg) center center no-repeat;
}

.blue.darken-5 {
    background-color: #3f51b5 !important;
}
